#what .items {
  display: block;
  padding: 1rem;
}

/* align items to left */
#what .items .item {
  display: flex;
  text-align: left;
}

/* poistion icon */
#what .items .item i {
  margin-right: 1.3rem;
  align-self: center;
  margin-bottom: 0;
}

/* Smartphones */
@media (max-width: 500px) {
  #navbar {
    flex-direction: column;
    align-items: center;
  }
  #navbar .logo {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  #navbar ul li a {
    padding: 0.4rem;
  }

  #showcase .showcase-content {
    top: 90px;
  }

  .games {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  .games div {
    margin: 0.1rem;
  }

  .monday .wednesday .friday {
    padding: 0.5rem;
    margin: 1rem;
  }

  #who {
    display: block;
  }
  #who .who-img {
    display: none;
  }

  #news {
    display: block;
  }
  /* .video-responsive{
    display: block;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
  }*/

  .video-responsive iframe {
    width: 100%;
  }
  #clients .items img {
    width: 80%;
  }

  #clients .items div:last-child {
    display: none;
  }

  #contact {
    flex-direction: column;
  }
  #contact .map {
    height: 300px;
    border-top: 4px solid #333;
  }
}
